* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    /* just for testing */
    min-height: 1000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* logo mail call */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icons {
    display: flex;
    padding: 0;
}

.icons a img {
    width: 1.5rem;
    height: 1.5rem;
}

nav a {
    padding: 20px;
    z-index: 1;

}

.logo a img {
    width: 6rem;
    height: 6rem;
}

.logo {
    position: relative;
    margin: -50px auto;
    text-align: center;
}

header {
    height: 30px;
}

/* page title  */
h1 {
    text-align: center;
    margin-top: 100px !important;
    letter-spacing: 5px;
}

/* progress bar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    counter-reset: step;
}

.progressbar::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0%);
    height: 2px;
    width: 75%;
    background-color: gray;
}

.progress-step {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 3px solid #aba095;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
    font-size: 20px;
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: 3.5rem;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .17rem;
    width: 20%;
    text-align: center;
}

.progress-step-active {
    border-color: #b89535;
}

@media (max-width:650px) {
    .progress-step::after {
        letter-spacing: 0;
        font-size: 12px;
    }
}


/* form step */
.form-step {
    max-width: 1200px;
    margin: 0 auto;
    display: none;
}

.form-step-active {
    display: block;
}

/* check in check out container */
.container1 {
    background-color: #f0ebe5;
    padding: 2rem 10%;
    display: flex;
    justify-content: center;
}



.checkIn,
.checkOut {
    background-color: white;
    margin: 13px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
ci=check-in
co=check-out
cid=check-in-date
cod=check-out-date
*/
.cid,
.cod,
.ci,
.co {
    width: 10em;
    height: 20px;
    margin: 8px;
    text-align: center;
}

/* nnumber of nights */
.nights {
    background-color: #f0ebe5;
    margin-top: 20px;
    text-align: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

/* number of adults and children in each room */
.container2 {
    /* border: 2px solid red; */
    width: 70%;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 420px;
}

.room {
    /* border: 2px solid blue; */
    width: 387px;
    display: inline-block;
    margin: 15px;
}

.adult,
.young {
    display: flex;
    justify-content: space-between;
    padding: 0.8125rem 0;
    /* border: 2px solid blue; */
}

.increase,
.decrease {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 10px;
    background-color: #ffffff;
}

.increase,
.decrease:hover {
    cursor: pointer;
}

.nb-of-chi,
.nb-of-adu {
    display: flex;
    margin-right: 80px;
}

.adu,
.chi {
    font-size: .9375rem;
    font-weight: 400;
    letter-spacing: .175rem;
    margin-bottom: 5px;
}

.years {
    color: #aba095;
    font-size: .6875rem;
    font-weight: 900;
    letter-spacing: .09375rem;
    line-height: 1.5;
}

input[type="number"] {
    width: 20px;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    font-size: 18px;
    background-color: #ffffff;
    color: #202030;
}

input[type="number"]:hover {
    cursor: default;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* new room button */
#add-new-room,
#remove-room {
    margin-left: 0;
    margin-right: auto;
    padding: 10px;
    font-size: .9375rem;
    font-weight: bold;
    letter-spacing: .175rem;
    background-color: #ffffff;
    border: none;
}

#add-new-room,
#remove-room:hover {
    cursor: pointer;
}

/* to show and hide the add-new-room button and remove-room */
.show {
    display: block;
}

.hide {
    display: none !important;
}

/* find room button */
.next-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 1rem 8rem;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    background-color: black;
}

.next-button:hover {
    cursor: pointer;
}


/* 3rd container the first thing in the 2nd step-form */
.container3 {
    background-color: #f0ebe5;
    padding: 2rem 10%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.bookingInfo {
    background-color: white;
    margin: 13px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.bookingInfo>div {
    display: inline-block;
    margin: 0.9rem 2rem;
}


/* prev button to go back to the 1st step */
.prev-button {
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    position: relative;
    cursor: pointer;
}

/* select room container */
.container4 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 10%;
    margin-left: auto;
    margin-right: auto;
}

.room-found,
.edit-order-of-rooms {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
}

.room-found {
    width: 50%;
    justify-content: space-between;
}

h2 {
    font-size: 25px;
    font-family: Times New Roman, Times, serif;
    color: #000;
    line-height: 1.25;
}

.room-found>span {
    font-size: small;
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border: 1px solid black;
    background-color: white;
}

/* filterby and sort by drop down menu */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* 3rd step in the form  */

.page-title {
    text-align: center;
    margin-top: 6rem;
    letter-spacing: .6rem;
}

.page-title>h2 {
    font-size: 2rem;
}

.container5 {
    background-color: #f0ebe5;
    padding: 2rem 10%;
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-row {
    width: 60%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;

}

/* accordion content */
.accordion {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.accordion-header {
    padding: 0.9rem 1rem;
    margin: 10px;
    cursor: pointer;
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.accordion-header i {
    transform: rotate(-90deg);
    transition: all .3s ease-in-out;
}

.accordion-header.active i {
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}

.accordion-body {
    padding: 0 1rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    display: grid;
    grid-template-columns: 50% 50%;

}

.accordion-body.active {
    max-height: 100rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.one-data {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 20px;
}

.one-data>label {
    font-size: 1rem;
    font-weight: normal;
}

.one-data>input {
    border: 1px solid #333;
    padding: .7rem;
    width: 80%;
}

.one-data>select {
    border: 1px solid #333;
    padding: .7rem;
    width: 80%;
}

.flightTitle {
    font-size: 1rem;
    color: gray;
}

textarea {
    resize: none;
}

.container6 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.payment-heading {
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
}

.year-data,
.month-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.year-data>select {
    width: 50%;
    padding: .7rem;
}

.month-data>select {
    width: 50%;
    padding: .7rem;
}

.month-year {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.container7 {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* back-TO-Top */
.back-to-top {
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: var(--main-padding);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: -100px;
    z-index: 999;
    cursor: pointer;
    transition: .3s;
}

.show-back-to-top {
    right: 20px;
}


/* RESERVATION INFORMATION */



/* end of 3rd step */