* {
    box-sizing: border-box;
}

body {
    background-color: white;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icons {
    display: flex;
    padding: 0;
}

.icons a img {
    width: 1.5rem;
    height: 1.5rem;
}

nav a {
    padding: 20px;
    z-index: 1;

}


.logo a img {
    width: 10rem;
    height: 10rem;
}

.logo {
    position: relative;
    margin: -85px auto;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 100px;
    letter-spacing: 5px;
}

.stage-0 {
    max-width: 1200px;
    margin: 0 auto;
}

.container1 {
    background-color: #f0ebe5;
    padding: 2rem 10%;
    display: flex;
    justify-content: center;
}

.checkIn,
.checkOut {
    background-color: white;
    margin: 13px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cid,
.cod,
.ci,
.co {
    width: 10em;
    height: 20px;
    margin: 5px;
    text-align: center;
}

.nights {
    background-color: #f0ebe5;
    margin-top: 20px;
    text-align: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

.container2 {
    border: 2px solid red;
    width: 70%;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.room {
    border: 2px solid blue;
    width: 50%;
    display: block;
    margin: 15px;
}

.adult,
.young {
    display: flex;
    justify-content: space-around;
    padding: 0.8125rem 0;
    border: 2px solid blue;
}

.increase,
.decrease {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

.nb-of-chi,
.nb-of-adu {
    display: flex;
    /* position: relative; */

}

input[type=number] {
    width: 20px;
    border: none;
    text-align: center;
}

input[type=number]:checked {
    border: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}