* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    /* just for testing */
    min-height: 1000px;
}

/* logo mail call */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icons {
    display: flex;
    padding: 0;
}

.icons a img {
    width: 1.5rem;
    height: 1.5rem;
}

nav a {
    padding: 20px;
    z-index: 1;

}

.logo a img {
    width: 10rem;
    height: 10rem;
}

.logo {
    position: relative;
    margin: -85px auto;
    text-align: center;
}

/* page title  */
h1 {
    text-align: center;
    margin-top: 100px;
    letter-spacing: 5px;
}

/* progress bar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    counter-reset: step;
}

.progressbar::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0%);
    height: 2px;
    width: 75%;
    background-color: gray;
}

.progress-step {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 3px solid #aba095;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
    font-size: 20px;
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: 3.5rem;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .17rem;
}

.progress-step-active {
    border-color: #b89535;
}

/* form step */
.form-step {
    max-width: 1200px;
    margin: 0 auto;
    display: none;
}

.form-step-active {
    display: block;
}

/* check in check out container */
.container1 {
    background-color: #f0ebe5;
    padding: 2rem 10%;
    display: flex;
    justify-content: center;
}

.checkIn,
.checkOut {
    background-color: white;
    margin: 13px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
ci=check-in
co=check-out
cid=check-in-date
cod=check-out-date
*/
.cid,
.cod,
.ci,
.co {
    width: 10em;
    height: 20px;
    margin: 5px;
    text-align: center;
}

/* nnumber of nights */
.nights {
    background-color: #f0ebe5;
    margin-top: 20px;
    text-align: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

/* number of adults and children in each room */
.container2 {
    /* border: 2px solid red; */
    width: 70%;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 420px;
}

.room {
    /* border: 2px solid blue; */
    width: 387px;
    display: inline-block;
    margin: 15px;
}

.adult,
.young {
    display: flex;
    justify-content: space-between;
    padding: 0.8125rem 0;
    /* border: 2px solid blue; */
}

.increase,
.decrease {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 10px;
    background-color: #ffffff;
}

.increase,
.decrease:hover {
    cursor: pointer;
}

.nb-of-chi,
.nb-of-adu {
    display: flex;
    margin-right: 80px;
}

.adu,
.chi {
    font-size: .9375rem;
    font-weight: 400;
    letter-spacing: .175rem;
    margin-bottom: 5px;
}

.years {
    color: #aba095;
    font-size: .6875rem;
    font-weight: 900;
    letter-spacing: .09375rem;
    line-height: 1.5;
}

input[type="number"] {
    width: 20px;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    font-size: 18px;
    background-color: #ffffff;
    color: #202030;
}

input[type="number"]:hover {
    cursor: default;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* new room button */
#add-new-room,
#remove-room {
    margin-left: 0;
    margin-right: auto;
    padding: 10px;
    font-size: .9375rem;
    font-weight: bold;
    letter-spacing: .175rem;
    background-color: #ffffff;
    border: none;
}

#add-new-room,
#remove-room:hover {
    cursor: pointer;
}

/* to show and hide the add-new-room button and remove-room */
.show {
    display: block;
}

.hide {
    display: none !important;
}

/* find room button */
.next-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 1rem 8rem;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    background-color: black;
}

.next-button:hover {
    cursor: pointer;
}


/* 3rd container the first thing in the 2nd step-form */
.container3 {
    background-color: #f0ebe5;
    padding: 2rem 10%;
    /* width: 90%; */
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 2rem;
}

.bookingInfo {
    background-color: white;
    margin: 13px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.bookingInfo>div {
    display: inline-block;
    margin: 0.9rem 2.5rem;

}