/* --------------------------------------------------Start Global Rules & Variables---------------------------------------------*/
:root {
    --primary-color: #4a4a49;
    --secondary-color: #b89535;
    --prim-background-color: #f0ebe5;
    --sec-background-color: #212121;
    --third-background-color: rgb(253, 244, 230);
    --margin-between-sections: 50px;
    --main-padding: 30px;
    --main-duration: 0.5s;
    --main-letter-spacing-for-paragraphs: 1.3px;
    --intern-margin: 30px;
    --arrow-margin: 20px;

}

* {
    box-sizing: border-box;
    margin: 0px;
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    /* .fixed-nav{
        width: 750px;
    } */
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    /* .fixed-nav{
        width: 970px;
    } */
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    /* .fixed-nav{
        width: 1170px;
    } */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.back-to-top {
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: var(--main-padding);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: -100px;
    z-index: 999;
    cursor: pointer;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.back-to-top img{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.back-to-top:hover img{
    margin-bottom: 10px;
}
.show-back-to-top {
    right: 20px;
}
/* .image{
    overflow: hidden;
}
img:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    overflow: hidden;
} */
/*---------------------------------------------------------End Global Rules & Variables-----------------------------------------------*/


/*---------------------------------------------------------------------Start The Header-----------------------------------*/

header {
    height: 100vh;
}

header .background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 1;
}
header .home-title{
    color: var(--prim-background-color);
    position: absolute;
    font-size: max(60px , 5vw);
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    width: 100%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hide{
    opacity:0;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.show{
    opacity:1;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
header .fixed-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* border-bottom: var(--sec-background-color) 1px solid; */
    text-align: center;
    width: 100%;
    padding: 0 var(--main-padding);
    z-index: 9999;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
header .fixed-nav:hover{
    background-color: var(--sec-background-color);
}
header .fixed-nav .logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}

header .logo img {
    height: 100px;
    width: 100px;
    animation: turn 3s linear infinite;
    -webkit-animation: turn 3s linear infinite;
}
header .logo div {
    text-align: center;
    font-size: 20px;
    color: var(--prim-background-color);
    font-weight: bold;
}

header .fixed-nav nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .fixed-nav nav li {
    list-style: none;
}
header .fixed-nav nav a{
    text-decoration: none;
    color: var(--prim-background-color);
    padding: 12px 20px;
    transition: var(--main-duration) 0.1s;
    -webkit-transition: var(--main-duration) 0.1s;
    -moz-transition: var(--main-duration) 0.1s;
    -ms-transition: var(--main-duration) 0.1s;
    -o-transition: var(--main-duration) 0.1s;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .fixed-nav .book a {
    text-align: center;
    border: 2px solid var(--primary-color);
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
header nav li a:hover {
    text-decoration: underline;
}
header .fixed-nav .book:hover a {
    border-color: var(--secondary-color);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
header .fixed-nav .book span {
    margin-right: var(--arrow-margin);
    font-size: 13px;
}
header .fixed-nav .book span:hover {
    color: var(--primary-color);
    transition-delay: 1s;
}
header .fixed-nav i{
    color: var(--prim-background-color);
    font-size: 25px;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    margin-left: 10px;
}
header .fixed-nav i:hover{
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}
@keyframes turn {
    100% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }

}
@media (max-width: 1200px) {
    header .fixed-nav nav {
        width: 70%;
    }
}
@media (max-width: 992px) {
    header .fixed-nav nav {
        width: 80%;
    }
}
/* @media(max-width: 767px) {
    header .fixed-nav {
        flex-direction: column;
        height: 100%;
        width: 100%;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-around;
    }
    header .fixed-nav:hover{
        background-color: transparent;
    }
    header .fixed-nav nav {
        flex-direction: column;
    }

    header .fixed-nav nav li {
        margin-bottom: var(--intern-margin);
    }

    header .fixed-nav .book {
        width: 200px;
    }
    header .home-title{
        display: none;
    }
}*/
.change-status{
    background-color: var(--sec-background-color);
} 
/*----------------------------------------------------------------End The Header------------------------------------------------------*/
/*-----------------------------------------------------------Start Collection-1--------------------------------*/

.content {
    margin-top: var(--margin-between-sections);
    padding: var(--main-padding) 0;
}

.content .description {
    width: 50%;
}

.content .description .title {
    font-size: 45px;
    color: var(--primary-color);
}

.content .description .title span {
    color: var(--secondary-color);
}

.content .description p {
    margin: var(--intern-margin) 0;
    letter-spacing: var(--main-letter-spacing-for-paragraphs);
}

.content .description-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .description-grid>div.class-one {
    width: 30%;
}

.content .description-grid>div.class-two {
    width: 30%;
}

.content .description-grid>div.class-three {
    width: 30%;
}

.content .description-grid>div>img {
    height: 300px;
    width: 100%;
}

.content .description-grid>div>.title {
    font-size: 20px;
    font-weight: bold;
    margin: var(--intern-margin) 0;
}

.content .description-grid>div>p {
    letter-spacing: var(--main-letter-spacing-for-paragraphs);

}

.content .parent-explore-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content .explore-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    text-decoration: none;
}

.content .explore-more span {
    color: var(--sec-background-color);
    transition: var(--main-duration) 0.1s;
    -webkit-transition: var(--main-duration) 0.1s;
    -moz-transition: var(--main-duration) 0.1s;
    -ms-transition: var(--main-duration) 0.1s;
    -o-transition: var(--main-duration) 0.1s;
    font-size: 20px;
    width: fit-content;

}

.content .explore-more span.arrow {
    content: "";
    margin-right: var(--arrow-margin);
    border: 1px black solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
    transition-delay: 0s;
}

.content .explore-more:hover span {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
}

@media(max-width: 767px) {

    .content .description {
        width: 80%;
        margin: 0 auto;
    }

    .content .description .title {
        text-align: center;
    }

    .content .description-grid {
        flex-direction: column;
    }

    .content .description-grid>div.class-one,
    .content .description-grid>div.class-two,
    .content .description-grid>div.class-three {
        min-width: 80%;
        max-width: 400px;
        margin: var(--arrow-margin) auto;
        border-bottom: 1px var(--primary-color) solid;
        padding-bottom: 20px;
    }

    .content .description-grid>div>img {
        max-width: 400px;
    }

    .content .explore-more {
        margin-right: 50px;
    }
}

/*--------------------------------------------------------------End Collection-1---------------------------------------------*/
/*------------------------------------------Start Services----------------------------------------------------------------- */
.services {
    background-color: var(--third-background-color);
}

/*----------------------------------------------------end services-----------------------------------------------------------*/

/*---------------------------------------------------------Start get in touch----------------------------------------------------------*/
.get-in-touch {
    margin-top: var(--margin-between-sections);
    padding: var(--main-padding) 0;
}

.get-in-touch .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.get-in-touch .container .title {
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}

.get-in-touch .container p {
    margin-top: var(--margin-between-sections);
    text-align: center;
}

.get-in-touch .contact-us {
    margin-top: var(--margin-between-sections);
    border: 1px solid var(--primary-color);
    padding: 30px 50px;
    justify-content: space-between;
    font-size: 25px;
    text-align: center;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    width: 350px;
}

.get-in-touch .container a {
    text-decoration: none;
    color: var(--primary-color);

}

.get-in-touch .contact-us span.arrow {
    margin-right: var(--arrow-margin);
    transition: var(--main-duration) 0s;
    -webkit-transition: var(--main-duration) 0s;
    -moz-transition: var(--main-duration) 0s;
    -ms-transition: var(--main-duration) 0s;
    -o-transition: var(--main-duration) 0s;
}

.get-in-touch .contact-us span.link {
    transition: var(--main-duration) 0.25s;
    -webkit-transition: var(--main-duration) 0.25s;
    -moz-transition: var(--main-duration) 0.25s;
    -ms-transition: var(--main-duration) 0.25s;
    -o-transition: var(--main-duration) 0.25s;
}

.get-in-touch .contact-us:hover {
    border-color: var(--secondary-color);
}

.get-in-touch .contact-us:hover span.arrow {
    color: var(--secondary-color);
    transform: translate(var(--arrow-margin));
    -webkit-transform: translate(var(--arrow-margin));
    -moz-transform: translate(var(--arrow-margin));
    -ms-transform: translate(var(--arrow-margin));
    -o-transform: translate(var(--arrow-margin));
    display: inline-block;
}

.get-in-touch .contact-us:hover span.link {
    display: inline-block;
    color: var(--secondary-color);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

@media(max-width: 767px) {
    .get-in-touch .contact-us .arrow {
        display: none;
    }

    .get-in-touch .contact-us span.link {
        transition-delay: 0s;
    }

    .get-in-touch .contact-us {
        padding: 20px 40px;
    }
}

/*-----------------------------------------------------End Get in touch----------------------------------------*/
/*---------------------------------------------------------Start Awards--------------------------------------------------------------*/
.product {
    position: relative;
    overflow: hidden;
    padding: var(--main-padding);
    margin-top: var(--margin-between-sections);
    background-color: var(--third-background-color);
}

.product .product-category {
    font-size: 45px;
    margin-bottom: var(--margin-between-sections);
    color: var(--sec-background-color);
}

.product .product-category span {
    color: var(--secondary-color);
}

.product .product-container {
    /* padding: 0 var(--main-padding); */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/*-------*/
.product-container::-webkit-scrollbar {
    display: none;
}

.product .product-container .product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    margin-right: var(--margin-between-sections);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--main-padding);
    background-color: white;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.product .product-container .product-card:hover {
    background-color: var(--secondary-color);
}

.product.awards .product-container .product-card:hover * {
    color: var(--prim-background-color);
}

.product .product-container .product-card i {
    font-size: 30px;
    color: var(--secondary-color);
}

.product .product-container .product-card p {
    color: var(--sec-background-color);
}

.product .product-container .product-card :nth-child(2) {
    letter-spacing: var(--main-letter-spacing-for-paragraphs);

}

.product .product-container .product-card :nth-child(3) {
    font-weight: bold;
    font-size: 18px;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 99;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

/*------------------------------------------End Awards---------------------------------------------*/
/*--------------------------------------------------Start In The Press------------------------------------*/
.product.press {
    background-color: white;
    padding-bottom: 0px;
}

.product.press .product-container .product-card {
    flex: 0 0 auto;
    width: 500px;
    height: 500px;
    margin-right: var(--margin-between-sections);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--third-background-color);
}

.product.press .product-container .product-card div {
    height: 300px;
    display: flex;
}

.product.press .product-container .product-card div>img {
    width: 70%;
    height: 100%;
    background-size: cover;
}

.product.press .product-container .product-card div>p {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: var(--prim-background-color);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.product.press .product-container .product-card>p {
    letter-spacing: var(--main-letter-spacing-for-paragraphs);
    font-weight: bold;
    font-size: 18px;
    margin-top: var(--intern-margin);
}

@media (max-width: 768px) {
    .product.press .product-container .product-card {
        width: 350px;
    }

    .product.press .product-container .product-card>p {
        font-size: 15px;
    }
}

/*--------------------------------------------------End In The Press--------------------------------------*/
/*---------------------------------------------------Start Footer----------------------------------------------*/

footer {
    background-color: var(--sec-background-color);
    margin-top: var(--margin-between-sections);

}

footer .parent-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .container .contact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: var(--prim-background-color);
    font-size: 20px;
    padding-top: var(--margin-between-sections);
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

footer .container .contact .contact-us {
    margin-bottom: var(--intern-margin);
    font-size: 25px;
}

footer .container .contact:hover {
    color: var(--secondary-color);
}

footer .container .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .container .social-media a {
    text-decoration: none;

}

footer .container .social-media a i {
    font-size: 16px;
    color: var(--prim-background-color);
    margin-top: var(--margin-between-sections);
    border: 1px solid var(--primary-color);
    padding: var(--main-padding);
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

footer .container .social-media a i:hover {
    border-color: var(--secondary-color);
}

footer .container .end-footer {
    border-top: 1px solid var(--primary-color);
    margin-top: var(--margin-between-sections);
    padding: var(--main-padding) 0;
    display: flex;
    justify-content: space-between;
    color: var(--prim-background-color);
    text-align: center;
    flex-wrap: wrap;
}

@media(max-width: 767px) {
    footer .container .social-media {
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .container .end-footer div {
        margin-top: var(--intern-margin);
    }

}

/*--------------------------------------------------------end Footer-----------------------------------------------*/
/**/

/**/
/* Reveal Elements On Scroll */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
/* -------------------header----------------------- */
@media(max-width: 767px){
    .fixed-nav nav{
        flex-direction: column;
    }
    header .fixed-nav:hover{
        background-color: transparent;
    }
    header .fixed-nav{
        padding: var(--main-padding);
        position: relative;
    }
    header .fixed-nav .logo{
        margin-left: 20px;
    }
    header .fixed-nav .bars{
        width: 50px;
        height: 20px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        position: absolute;
        right: 30px;

    }
    header .fixed-nav .bars:hover :nth-child(3){
        width: 100%;

    }
    header .fixed-nav .bars span{
        background-color: var(--prim-background-color);
        height: 15%;
        width: 100%;
        display: inline-block;
   
    }
    header .fixed-nav .bars :nth-child(3){
        width: 70%;
        transition: var(--main-duration);
        -webkit-transition: var(--main-duration);
        -moz-transition: var(--main-duration);
        -ms-transition: var(--main-duration);
        -o-transition: var(--main-duration);
}
    header .fixed-nav nav{
        position: absolute;
        right: 30px;
        width: fit-content;
        top:130px;
        background-color: var(--sec-background-color);
        display: none;
        transition: var(--main-duration);
        -webkit-transition: var(--main-duration);
        -moz-transition: var(--main-duration);
        -ms-transition: var(--main-duration);
        -o-transition: var(--main-duration);
}
    header .fixed-nav nav li{
        border-bottom: 1px solid;
        width: 100%;
        transition: var(--main-duration);
        -webkit-transition: var(--main-duration);
        -moz-transition: var(--main-duration);
        -ms-transition: var(--main-duration);
        -o-transition: var(--main-duration);
        margin-top: 20px;
    }
    header .fixed-nav nav .book a{
        border: none;
        margin-top: 20px;
    }
    header .fixed-nav nav::before{
        content: "";
        height: 0;
        width: 0;
        border: 20px  solid;
        border-color: transparent transparent var(--sec-background-color) ;
        position: absolute;
        right: 5px;
        top: -35px;
    }
    header .home-title{
        top: 80%;
        font-size: 40px;
    }
    .fixed-nav:hover  nav{
        display: block;
    }
    .fixed-nav:hover .bars  :nth-child(3){
        width: 100%;
    }
    header .fixed-nav i{
        margin-bottom: 100px;
        margin-left :-20px;
    } 
    .background-video{
        display: none;
    }
    header{
        background-image: url(../images/main-background.jpg);
        background-size: cover;
    }
}