/* --------------------------------------------------Start Global Rules & Variables---------------------------------------------*/
:root{
    --primary-color:#4a4a49;
    --secondary-color:#b89535;
    --prim-background-color:#f0ebe5;
    --sec-background-color:#212121;
    --third-background-color:rgb(253, 244, 230);
    --margin-between-sections:50px;
    --main-padding:30px;
    --main-duration:0.5s;
    --main-letter-spacing-for-paragraphs:1.3px;
    --intern-margin:30px;
    --arrow-margin:20px;

}
*{
    box-sizing: border-box;
    margin: 0px;
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
    /* .fixed-nav{
        width: 750px;
    } */
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    /* .fixed-nav{
        width: 970px;
    } */
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    /* .fixed-nav{
        width: 1170px;
    } */
  }
 body{
    font-family:Arial, Helvetica, sans-serif;
} 
.back-to-top{
    background-color: var(--primary-color);
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    padding: var(--main-padding);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/*---------------------------------------------------------End Global Rules & Variables-----------------------------------------------*/


/*---------------------------------------------------------------------Start The Header-----------------------------------*/

header{
    height: 100vh;
}
header .background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
header .fixed-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background-color: white; */
    border-bottom: var(--sec-background-color) 1px solid;
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 0 var(--main-padding) ;
    background-image: linear-gradient(to bottom, #FFFFFF ,#eee);
}
/* I Delected The Responsive Fixed Nav And I Added Width 100% Background-color And The Padding*/
/*I Am Gonna Add The JS code background-color  Transperent ==> White */
header .fixed-nav .logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
header  .logo img{
    height: 100px;
    width:100px ;
    animation: turn 3s linear  infinite  ;
    -webkit-animation: turn 3s linear  infinite  ;
}
header  .logo div{
    text-align: center;
    font-size: 20px;
}

header .fixed-nav nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .fixed-nav nav li{
    list-style: none;
    text-align: center;
}
header .fixed-nav nav a, header .book a{
    text-decoration: none;
    color: black;
    padding:12px 20px;
    transition: var(--main-duration) 0.1s;
    -webkit-transition: var(--main-duration) 0.1s;
    -moz-transition: var(--main-duration) 0.1s;
    -ms-transition: var(--main-duration) 0.1s;
    -o-transition: var(--main-duration) 0.1s;
    font-size: 1.1rem;
    text-align: center;
}
header .fixed-nav .book{
    width: 10%;
}
header .fixed-nav .book a{
    text-align: center;
}
header nav a:hover{
    text-decoration: underline;
}
.book{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
}
.book:hover{
border-color: var(--secondary-color);}
.book:hover  a{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    color: var(--secondary-color);
   
}
.book span{
    margin-right: var(--arrow-margin);
    font-size: 13px;
}
.book span:hover{
    color: var(--primary-color);
    transition-delay: 1s;
}
@keyframes turn {
    100%{
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
}
    
}
@media(max-width: 767px){
    header .fixed-nav {
flex-direction: column;   
height: 100%; 
width: 100%;
border: none;
position: absolute;
top: 0;
right: 0;
}
header .fixed-nav nav{
    flex-direction: column;
}
    header .fixed-nav nav li{
        margin-bottom: var(--intern-margin);
    }
header .fixed-nav .book{
    width: 200px;
}
}
/*----------------------------------------------------------------End The Header------------------------------------------------------*/
/*-----------------------------------------------------------Start Collection-1--------------------------------*/

.content{
    margin-top: var(--margin-between-sections);
    padding: var(--main-padding) 0;
}
.content .description{
    width: 50%;
}
.content .description .title{
    font-size: 45px;
    color: var(--primary-color);
}
.content .description .title span{
    color: var(--secondary-color);
}
.content .description p{
    margin: var(--intern-margin) 0;
    letter-spacing: var(--main-letter-spacing-for-paragraphs);
}
.content .description-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content .description-grid>div.class-one{
    width: 30%;
}

.content .description-grid>div.class-two{
    width: 30%;
}

.content .description-grid>div.class-three{
    width: 30%;
}
.content .description-grid>div>img{
    height:300px;
    width: 100%;
}
.content .description-grid>div>.title{
    font-size: 20px;
    font-weight: bold;
    margin: var(--intern-margin) 0 ;
}
.content .description-grid>div>p{
    letter-spacing: var(--main-letter-spacing-for-paragraphs);

}
.content .parent-explore-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.content .explore-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
    text-decoration: none;
}
.content .explore-more span{
    color: var(--sec-background-color);
    transition: var(--main-duration) 0.1s;
    -webkit-transition: var(--main-duration) 0.1s;
    -moz-transition: var(--main-duration) 0.1s;
    -ms-transition: var(--main-duration) 0.1s;
    -o-transition: var(--main-duration) 0.1s;
    font-size: 20px;
    width: fit-content;

}
.content .explore-more span.arrow{
    content: "";
    margin-right: var(--arrow-margin);
    border: 1px black solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
    transition-delay: 0s;
}

.content .explore-more:hover span{
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
}

@media(max-width: 767px){
    
    .content .description{
        width: 80%;
        margin: 0 auto;
    }
    .content .description .title{
        text-align: center;
    }
    .content .description-grid{
        flex-direction: column;
}
.content .description-grid>div.class-one,.content .description-grid>div.class-two,.content .description-grid>div.class-three{
    min-width: 80%;
    max-width: 400px;
    margin: var(--arrow-margin) auto;
    border-bottom: 1px var(--primary-color) solid;
    padding-bottom: 20px;
}
.content .description-grid>div>img{
    max-width: 400px;
}
.content .explore-more{
    margin-right: 50px;
}
}
/*--------------------------------------------------------------End Collection-1---------------------------------------------*/
/*------------------------------------------Start Services----------------------------------------------------------------- */
.services{
    background-color: var(--third-background-color);
}

/*----------------------------------------------------end services-----------------------------------------------------------*/

/*---------------------------------------------------------Start get in touch----------------------------------------------------------*/
.get-in-touch{
    margin-top: var(--margin-between-sections);
    padding: var(--main-padding) 0;
}
.get-in-touch .container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 60%;
}
.get-in-touch .container .title{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}
.get-in-touch .container p{
    margin-top: var(--margin-between-sections);
    text-align: center;
}
.get-in-touch .contact-us{
    margin-top: var(--margin-between-sections);
    border: 1px solid var(--primary-color);
    padding: 40px 60px;
    justify-content: space-between;
    font-size: 25px;
    text-align: center;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.get-in-touch .container a{
    text-decoration: none;
    color: var(--primary-color);
    
}
.get-in-touch .contact-us span.arrow{
    margin-right: var(--arrow-margin);
    transition: var(--main-duration) 0s;
    -webkit-transition: var(--main-duration) 0s;
    -moz-transition: var(--main-duration) 0s;
    -ms-transition: var(--main-duration) 0s;
    -o-transition: var(--main-duration) 0s;
}
.get-in-touch .contact-us span.link{
    transition: var(--main-duration) 0.25s;
    -webkit-transition: var(--main-duration) 0.25s;
    -moz-transition: var(--main-duration) 0.25s;
    -ms-transition: var(--main-duration) 0.25s;
    -o-transition: var(--main-duration) 0.25s;
}
.get-in-touch .contact-us:hover{
    border-color: var(--secondary-color);
}
.get-in-touch .contact-us:hover span.arrow{
    margin-left: var(--arrow-margin);
    color: var(--secondary-color);
}
.get-in-touch .contact-us:hover span.link{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media(max-width: 767px){
    .get-in-touch .contact-us .arrow{
        display: none;
    }
    .get-in-touch .contact-us span.link{
        transition-delay: 0s;
    }
    .get-in-touch .contact-us {
        padding: 20px 40px;
    }
}
/*-----------------------------------------------------End Get in touch----------------------------------------*/

/*---------------------------------------------------Start Footer----------------------------------------------*/

footer{
    background-color: var(--sec-background-color);
    margin-top: var(--margin-between-sections);

}
footer .parent-contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer .container .contact{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: var(--prim-background-color);
    font-size: 20px;
    padding-top: var(--margin-between-sections);
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
footer .container .contact .contact-us{
    margin-bottom: var(--intern-margin);
    font-size: 25px;
}
footer .container .contact:hover{
    color: var(--secondary-color);
}

footer .container .social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer .container .social-media a{
    text-decoration: none;
  
}
footer .container .social-media a i{
    font-size: 16px;
    color: var(--prim-background-color);
    margin-top: var(--margin-between-sections);
    border: 1px solid var(--primary-color);
    padding: var(--main-padding);
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
footer .container .social-media a i:hover{
    border-color: var(--secondary-color);
}
footer .container .end-footer{
    border-top: 1px solid var(--primary-color);
    margin-top: var(--margin-between-sections);
    padding: var(--main-padding) 0;
    display: flex;
    justify-content: space-between;
    color: var(--prim-background-color);
    text-align: center;
    flex-wrap: wrap;
}
@media(max-width: 767px){
    footer .container .social-media{
        justify-content: center;
        flex-wrap: wrap;
    }
    footer .container .end-footer div{
        margin-top: var(--intern-margin);
    }

}
/*--------------------------------------------------------end Footer-----------------------------------------------*/
/**/

/**/


