*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 50px;
    overflow: hidden;
    background-color: #f0ebe5;
}
.left-container{
    width:30%;
    height:100%;
    position :relative;
    background-color: transparent;
    z-index: 4;
}
.left-container::after{
    content: "";
    position: absolute;
    width: 130%;
    height: 100%;
    background-color:#212121;
    top: 0;
    right: -15%;
    z-index: -1;
    transform: skewX(-7deg);
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
}
.left-container::before{
    content: "";
    position: absolute;
    width: 130%;
    height: 100%;
    background-color: #f0ebe5;
    z-index: 999999;
    top: 0;
    right: 100%;
}
.right-container{
    width:50%;
    height:100%;
    background-color: antiquewhite;
    border:none;
    background-color: transparent;
    position: relative;
    z-index: 2;
    padding-left: calc(10% - 1rem);
}

.right-container::after{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: -1;
}

.right-container form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    width:50%;
    padding:8px;
}
.user-details .input-box input,
.user-details .input-box select{
    height:30px;
    width:100%;
}
.user-details .input-box label{
    margin-bottom: 10%;
}
.text{
    padding:8px;
}
.title{
    font-size:25px;
    font-weight: 500;
    padding:8px;
}
.agree-class{
    padding:10px;
}
.register{
    padding: 0px;
}
.have-account{
    padding: 4px;
}
a{
    text-decoration: none;
    color:#0071ff;
}
input[type="submit"]{
    background-color:#0071ff;
    color:white;
    font-size:13px;
    padding:10px 30px;
    border: none;
    border-radius: 5px;
}
input[type="submit"]:hover{
    cursor:pointer;
}

.left-container .welcom{
    font-size:40px;
    margin:10px 10px;
    color:white;
    text-align: center;
}

img{
    width:100%;
    height:50%;
    position :absolute;
    bottom: 0px;
}

@media (max-width:784px) {
    body{
        overflow: scroll;
    }
    .left-container{
        display: none;
    }
    .right-container{
        width:100%;
        height:100%;
        background-color: antiquewhite;
        display:block;  
        padding:20px 10%;    
        
    }
    .right-container form{
        width:100%;
    }
    .right-container::after{
        height:930px;
    }
    form .user-details .input-box{
        width:100%;
        padding:10px;
    }
    .user-details .input-box input,
    .user-details .input-box select{
        width:100%;
    }
    
}